<script setup lang="ts">
definePage({
  name:"{{properCase name}}",
  meta: {
    level:{{level}},
    title:"{{title}}",
    keepAlive:{{keepAlive}}
  },
})

</script>

<template>
  <div class="{{properCase name}}">

  </div>
</template>
<style lang="less" scoped>
  
</style>